<!DOCTYPE html>
<html lang="en">

<head>
  
  <!-- header start -->
  <%- include('layout/home/header') %> 
  
</head>

<body>
  <div id="wrapper">
    <!-- start header -->
    <header>
      <header>
        <div class="container ">
          <div class="row nomargin">
            <div class="span12">
              <div class="headnav">
                <ul>
                  <%- include('layout/home/userLogReg') %> 
                </ul>
              </div>
            </div>
          </div>

          <!-- navbar start -->
          <%- include('layout/home/navbar') %> 
          <!-- navbar end -->

          </div>
        </div>
      </header>
    <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h2 class="aligncenter">404 Error not found</h3>
				<p class="aligncenter">
					Maaf Halaman Yang Anda Inginkan Tidak Ada
				</p>
			</div>
		</div>
	</div>
	</section>


  <%- include('layout/home/footer') %> 

</div>
<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

  <!-- javascript -->
  <%- include('layout/home/js') %> 


</body>
</html>
