<!DOCTYPE html>
<html lang="en">

<head>
  <!-- header start -->
    <%- include('layout/home/header') %> 
  <!-- header end -->

  <style>
      /* Card Styles */

      .card-sl {
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-image img {
        height: 15rem;
        width: 22rem;
        border-radius: 12px 12px 12px 12px;
    }

    .card-action {
        position: relative;
        float: right;
        margin-top: -25px;
        margin-right: 20px;
        z-index: 2;
        color: #E26D5C;
        background: #fff;
        border-radius: 100%;
        padding: 15px;
        font-size: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }

    .card-action:hover {
        color: #fff;
        background: #E26D5C;
        -webkit-animation: pulse 1.5s infinite;
    }

    .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        margin-top: 10px;
      }

    .card-button {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        /* background-color: #1F487E; */
        color: black;
        border-radius: 0 0 8px 8px;
    }


    @-webkit-keyframes pulse {
        0% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        70% {
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
        }

        100% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
        }
    }
  </style>
</head>

<body>
  <div id="wrapper">
    <!-- start header -->
      <header>
        <div class="container ">
          <div class="row nomargin">
            <div class="span12">
              <div class="headnav">
                <ul>
                  <%- include('layout/home/userLogReg') %> 

                </ul>
              </div>
            
            </div>
          </div>

              <!-- navbar start -->
              <%- include('layout/home/navbar') %> 
              <!-- navbar end -->

          </div>
        </div>
      </header>
    <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <h1 class="d-flext justify-content-center" style="margin-left: 10px ;margin-top: 20px ;font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><b>What's On rabunCode</b></h1>
      </div>
      <nav class="navbar navbar-warning">
        <form class="form-inline" action="/blog"_method="post" enctype="multipart/form-data"> 
          <input style="border-radius: 30px; font-size: 15px; background-color:white ;height: 2rem;" name="search" class="form-control mr-sm-1" type="search" placeholder="cari disini" aria-label="Search">
          <button style="border-radius: 20px; font-size: 14px; font-style: normal;" class="btn btn-warning" type="submit" ><i class="fas fa-search" style="font-size: 13px; color: white"></i><span style="color: white; padding-left: 10px; padding-right: 10px
          ; text-transform: lowercase;">cari</span></button>
        </form>
      </nav>
    </div>
    
    <div class="container" style="margin-top:50px;">
      <div class="row">
      <% data.forEach(function(blog) { %>
        <div class="col-md-3">
          <div class="card-body">
            <a href="#" style="text-decoration: none;">  
              <div class="card-sl">
                <div class="card-image">
                    <img
                        src="<%= blog.image %> " width="350" />
                </div>
              </div>
              <div class="card-heading" style="color: black;">
                <h5><b><%= blog.title %> </b></h5>
                <h6 style="font-size: 12px">rabuncode  <%= blog.create_at %> </h6>
              </div>
            </a>
          </div>
        </div>
      <% }); %> 
      <% if(locals.msg) { %> 
          <h1>fjoejfoej</h1>
      <% } %> 
      </div>  
    </div>  
  
  <!-- footer starts -->
    <%- include('layout/home/footer') %> 
  <!-- footer end -->
  
  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

  <!-- javascript start -->
    <%- include('layout/home/js') %> 
  <!-- javascript end -->

</body>

</html>
