<!DOCTYPE html>
<html lang="en">

<head>
  <!-- header start -->
    <%- include('layout/home/header') %> 
  <!-- header end -->
</head>

<body>
  <div id="wrapper">
    <!-- start header -->
    <header>
      <div class="container ">
        <div class="row nomargin">
          <div class="span12">
            <div class="headnav">
              <ul>
                <%- include('layout/home/userLogReg') %> 
              </ul>
            </div>
          </div>
        </div>

            <!-- navbar start -->
            <%- include('layout/home/navbar') %> 
            <!-- navbar end -->

        </div>
      </div>
    </header>
    <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          </div>
        </div>
      </div>
    </section>
    <section id="inner-headline">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </section>
    <section id="content">
      <iframe src="https://maps.google.com/maps?q=doro%20bata%20kandai%20satu&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="container">
        <div class="row">
          <div class="span12">
            <br><br>
            <form action="/contact" method="post" role="form" class="contactForm">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

              <div class="row">
                <div class="span4 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="span4 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="span4 form-group">
                  <input type="text" class="form-control" name="title" id="title" placeholder="Your Title Message" data-rule="minlen:4" data-msg="Please enter title yout message" />
                  <div class="validation"></div>
                </div>
                <div class="span12 margintop10 form-group">
                  <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                  <p class="text-center">
                    <button class="btn btn-large btn-warning btn-theme margintop10" style="font-size: 12px" type="submit">Submit message</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    
    <!-- footer start -->
      <%- include('layout/home/footer') %> 
    <!-- footer end -->
  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
 
    <!-- javascript start -->
      <%- include('layout/home/js') %> 
    <!-- javascript end-->

</body>

</html>
