<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../../layout/home/header') %> 

</head>
    
    <body>
    
    <%- include('../../layout/home/preloader') %> 
    
    
    <%- include('../../layout/home/navbar') %> 


    <%- content %> 

    
    
    <%- include('../../layout/home/footer') %> 
    
    <%- include('../../layout/home/javascript') %> 

  </body>
</html>