<!doctype html>
<html lang="en">
<head>

  <%- include('../../../layout/userAdmin/header') %> 

</head>
<body class="antialiased">

  <div class="wrapper">

  <%- include('../../../layout/userAdmin/navbar-top') %> 

  <%- include('../../../layout/userAdmin/navbar') %> 

  <%- content %> 

  
     
  <%- include('../../../layout/userAdmin/footer') %> 
     

  </div>
  <%- include('../../../layout/userAdmin/js') %> 

  </body>
</html>