<!DOCTYPE html>
<html dir="ltr" lang="en">

<%- include('layout/table/header.ejs')%>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
       
        <%- include('layout/table/header-navbar')%>

        <aside class="left-sidebar" data-sidebarbg="skin6">
            <div class="scroll-sidebar">

                <%- include('layout/table/navbar-left.ejs') %>

            </div>
        </aside>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Simple List</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Table List</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            

            <%- include('layout/table/table-content') %> 
            <%- include('layout/table/footer') %> 

        </div>
    </div>

            <%- include('layout/table/js.ejs') %> 
</body>

</html>