<!DOCTYPE html>
<html lang="en">

<head>
 
    <%- include('../home/header') %> 

</head>

<body>
    <!-- start header -->

    
        <header>
          <div class="container">
            <div class="row">
              <div class="span12">
                <div class="headnav">
                  <ul>
                    <%- include('../home/userLogReg') %> 
    
                  </ul>
                </div>
              
                <!-- Signup Modal -->
                <div id="mySignup" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
                </div>
                <!-- end signup modal -->
              
                <!-- Sign in Modal -->
                <div id="mySignin" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
                </div>
                <!-- end signin modal -->
               
              </div>
            </div>
    
                <!-- navbar start -->
                <%- include('../home/navbar') %> 
                <!-- navbar end -->
    
            </div>
          </div>
        </header>
        <!-- end header -->
       
        <!-- slider start -->
          <%- include('../home/slider') %> 
        <!-- slider end -->
    
        <!-- visit start -->
          <%- include('../home/userVisit') %> 
        <!-- visit end -->
    
        <div class="container">
          <div class="row">
            <section id="content">
              <div class="container">
             <div class="row">
              
            </div>


            <div class="container">
              <div class="container" style="margin-top: 20px;">
                <div class="row">
                 <div class="container" style="margin-left: 14px; margin-bottom: 60px;">

                  <div class="span3">
                    <div class="card" style="background-color: #101820;border-radius: 20px; width: 18rem; text-align: center;">
                      <div class="card-body">
                        <h6 class="card-title"></h6>
                        <h6 class="card-subtitle mb-2"><i style="font-size: 100px; color: #b39107;" class="fas fa-book-open"></i></h6>

                        <h5 style="font-size: 14px; margin-top: 20px; color: whitesmoke;" class="card-title"><b>Aman digunakan dimana saja dan kapan saja</b></h5>
                      </div>
                    </div>
                    
                  </div>
                  <div class="span3">
                    <div class="card" style="background-color: #101820;border-radius: 20px; width: 18rem; text-align: center;"">
                      <div class="card-body" style="border-radius: 50px">
                        <h6 class="card-title"></h6>
                        <h6 class="card-subtitle mb-2"><i style="font-size: 100px; color: #b39107;" class="fas fa-box"></i></h6>

                        <h5 style="font-size: 14px; margin-top: 20px; color: whitesmoke" class="card-title"><b>Dapat ditemukan kapanpun dan dimana saja</b></h5>
                      </div>
                    </div>
                    
                  </div>
                  <div class="span3">
                    <div class="card" style="background-color: #101820;border-radius: 20px; width: 18rem; text-align: center;">
                      <div class="card-body" style="border-radius: 50px">
                        <h6 class="card-title"></h6>
                        <h6 class="card-subtitle mb-2"><i style="font-size: 100px; color: #b39107;" class="fas fa-handshake"></i></h6>

                        <h5 style="font-size: 14px; margin-top: 20px; color: whitesmoke" class="card-title"><b>Insya Allah membantu perekonomian indonesia</b></h5>
                      </div>
                    </div>
                    
                  </div>
                 </div>
                  <!-- <div class="span"> -->
                  
                  </div>
                </div>
              </div>
            </div>
        </section>
        
      </div>
    </div>
    <section class="callaction1">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="big-cta">
              <div class="cta-text">
                <!-- Portfolio Projects -->
                <%- include('../home/portfolio') %> 
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
        <!-- footer start -->
        <%- include('../home/footer') %> 
        <!-- footer end -->
      </div>
      <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
    
      <!-- javascript start -->
    
      <%- include('../home/js') %> 
    
      <!-- javascript end -->
      

</body>
<script>
    const image = document.querySelectorAll('section#projects img')
    for (let i = 0; i < image.length; i++) {
      image[i].style.width = '23rem'
      image[i].style.height = '13rem'
      image[i].style.borderRadius = '60px'
    }
</script>


</html>
